<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/other-services.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-1 mb-5 m-0" data-aos="zoom-in-down" data-aos-duration="1200">Our Core Competencies</h1>
        <i class="h1 text-white bi bi-arrow-down d-block text-center"></i>
    </div> 
</div>

<div class="bg-light p-5">
    <div class="container m-auto row">
        <p class="text-dark">Engre Technologies is an Engineering Services company founded in 2019 by a team of engineering professionals with decades of experience managing complete product development cycles for companies in high-technology manufacturing industries. We have a growing global sales presence and representation in the US. Engre Tech has developed multiple customer Product Life Cycle solutions in the semiconductor capital equipment, medical device, industrial equipment and instrumentation markets. Our core competencies are as follows:</p>
        <ul class="list-unstyled">
            <li class="pb-2"><i class="bi bi-chevron-double-right"></i> Mechanical Design </li>
            <li class="pb-2"><i class="bi bi-chevron-double-right"></i> Electrical Design</li>
            <li class="pb-2"><i class="bi bi-chevron-double-right"></i> Complex Software and Firmware</li>
            <li class="pb-2"><i class="bi bi-chevron-double-right"></i> Embedded Hardware</li>
        </ul>
        <p class="text-dark">The key strength of our team is the ability to partner with our clients and accelerate their products to market faster and extend their commercial life through our different services.  Engre Tech is successful because we count on our technically competent engineers that bring VALUE THROUGH DESIGN ENGINEERING.</p>
    </div>
</div>

<div class="bg-dark py-5 text-center">
    <i class="bi bi-headset display-4 text-white mb-3 d-inline-block"></i>
    <h2 class="font-oswald text-white">Need Help with Easier Industrial Solutions? We Are the Experts!</h2>
    <a href="" class="btn bg-white rounded-pill text-dark mt-3 px-4">Learn More <i class="bi bi-arrow-up-right-square"></i></a>
</div>