

<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" autoplay loop muted class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/contact-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-3 mb-3">Have Some Questions ?</h1>
        <h1 class="text-white font-oswald">Feel Free to Contact Us</h1>
    </div> 
</div> 

<div class="container shadow-sm bg-white p-5 mb-4">
    <h1 class="text-dark text-center mb-5 font-oswald">Contact Us</h1>
    <div class="row m-0">
        <div class="col-lg-6 contact-bg text-white p-4 fw-lighter text-center d-flex flex-column justify-content-center align-middle">

            <h4 class="text-white font-oswald">ADDRESS:</h4>
            <p class="mb-0"># 303, Abhirami Enclave Apartments.</p>
            <p class="mb-0">5th East Cross Manjunatha Lay Out,</p>
            <p class="mb-0">Murgesh Pallya Bengaluru, Karnataka 560017</p>

            

            <h4 class="text-white font-oswald mt-4">INDIA:</h4>
            <p class="mb-0">zubair@engretech.com</p>
            <p class="mb-0">Call: Zubair Ahmed</p>
            <p>+91 7204923698</p>
            
            <h4 class="text-white font-oswald mt-4">USA:</h4>
            <p class="mb-0">norm@engretech.com</p>
            <p class="mb-0">Call: Norm Haas</p>
            <p>+1 (408) 614-3130</p>

        </div>
        <div class="col-lg-6 p-5">
            <form action="">
                <div class="form-group">
                    <label for="name" class="form-label mb-0"><i class="bi bi-person-circle"></i> YOUR NAME <em class="text-danger">*</em></label>
                    <input type="text" class="form-control shadow-sm" id="name" required>
                </div>
                <div class="form-group mt-3">
                    <label for="email" class="form-label mb-0"><i class="bi bi-envelope-fill"></i> EMAIL ADDRESS <em class="text-danger">*</em></label>
                    <input type="email" class="form-control shadow-sm" id="email" required>
                </div>
                <div class="form-group mt-3">
                    <label for="subject" class="form-label mb-0"><i class="bi bi-sticky-fill"></i> SUBJECT <em class="text-danger">*</em></label>
                    <input type="text" class="form-control shadow-sm" id="subject" required>
                </div>
                <div class="form-group mt-3">
                    <label for="message" class="form-label mb-0"><i class="bi bi-chat-dots-fill"></i> YOUR MESSAGE <em class="text-danger">*</em></label>
                    <textarea name="" class="form-control shadow-sm" id="message" cols="30" rows="10" required></textarea>
                </div>
                <button type="submit" class="btn-lg text-white btn text-uppercase px-4 py-2 mt-3 rounded-pill btn-sm bg-engretech">Submit <i class="bi bi-send-fill"></i></button>
            </form>
        </div>
    </div>
</div>
