<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/other-services.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-1 mb-5 m-0" data-aos="zoom-in-down" data-aos-duration="1200">High End Engineering Services</h1>
        <i class="h1 text-white bi bi-arrow-down d-block text-center"></i>
    </div> 
</div>

<div class="bg-light p-5">
    <div class="container m-auto row"> 
        <div class="row mt-0">
            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Industrial Automation : Merging Two Automation Families</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Need to migrate  an existing system(from an acquisition) to a new generation sequencer and IOs</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Migrate Legacy IO Cards + Sequencer + Control environment to New System to make the product cost competitive in certain industry segments (Metals and Mining, Paper, Sugar) without extensive redesign</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The legacy system has about 20 different card types and required redundant processing</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> New Generation automation system had different programming Environment</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Developed a  32-bit redundant controller board which interfaced to the new system and old IO system as well</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Created  Compatible programming toolset to migrate control programs to the new automation system.</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> 12 layer 32-bit Microcontroller boards with Serial IO Bus</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Control Scanner Adapted to Next Generation Processing Backplane</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Re-Engineering Tools to enable migration of Older Control Logic to new system</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> PsOS Real Time Operating System based Sequencer Code</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>C/C++ Real Time Programming</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>Windows SDK Programming</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Wiring Devices :  Wireless Home Automation</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Develop Home Automation technology concept prototypes for lighting systems and wiring devices leveraging low-power wireless technology</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Provide an electronic switch design which does not provide for a ground terminal in  the product</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Predict wireless network range with electronics in a metallic enclosure and provide design options for antenna placement</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Understand the effect of thermal dissipation for a 1 KW dimmer on a metallic switch</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Prototyped ZWave Wireless technology for nodes</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Developed operational concept document to  provide design concept key installation and operational scenarios like  network formation, adding new components, replacement of a node, providing Lighting Scenes</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>Developed antenna placement concepts to provide 50 Meters of Free Transmission Range</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>Developed Power MOSFET based switch design with no Neutral in the switch, which necessitated a pulsed capacitor charging for powering the wireless circuit</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>Thermal management studies for Dimming circuits</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i>Developed PCB Stack Design to manage Space Constraints of a Wiring Device and Modularity</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Power MOSFET based switching designs</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Signal Transformer Design which enabled Space Reduction</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Low Power Wireless Design and RF measurements</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> ZWave based 16 bit Microcontroller Designs</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> C based Firmware Development</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Electronics Packing and Thermal Management</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Home Intrusion Detection system (NPI)</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Develop a cost-competitive Wireless Home Intrusion System for emerging markets based on market research</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Product to leverage existing 800 Mhz  RF sensors</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Provide to provide extended battery backup (12+ Hours)</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Provide an extension daughter board interface to provide additional customization</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Complete in-house design and development of an RF based Home Intrusion Panel with Keypad Interface and a bitmap based Graphics Display set</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Extension interface to provide product upgrades for interactive voice response</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Pleasing external casing design</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> End-to-end ownership from specification to manufacturing</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> 32 bit Microcontroller based Hardware Development</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Fault tolerant wireless network scanning algorithms</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Real Time OS based C++ Firmware</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Tamper detect mechanical housing</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Tools and fixtures for production of the housing</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Membrane Keypad Part Design</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Electrical Asset Management</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> An asset parameter monitoring product with GSM Connectivity to monitor vital parameters, alert and cut-off power contactor in abnormal conditions</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The product needed a set of sensors to be developed to monitor oil levels, temperature and energy metering</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Product to be easily retrofitted to existing pole mounted transformers</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Development of  GSM cellular based, 32 bit microcontroller system for monitoring transformer equipment</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Power disconnection signal based on remote commands</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Monitored variables transferred over cellular networks periodically</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Development of an integrated sensor for temperature and level monitoring</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Data Center based software to collect the equipment data spread over multiple transformers over a geographical area</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Web based data visualization software</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> End-to-end ownership from specification to manufacturing</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> 32 bit Microcontroller based hardware development</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Realtime OS based C+ Firmware code</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Integrated GSM Modem, with secured data transfer code</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Sensor development for level and temperature measurement</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Tamper detect mechanical housing</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Real Time OS based C++ firmware</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Web 2.0 based design for data center software</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Reengineering Network Download Speeds</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The Existing Download Modem for connecting to LONWORKS networks was provided by the OEM, required setup with Dip Switches, Setup Configuration and provided slow speeds when downloading over PSTN networks.</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> This needed design of a proprietary “Easy to Use – Plug and Play” Modem with Faster Download Speeds</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Developed a faster PSTN based network modem to decrease download times for LONWORK networks based on 32 bit risk based processor</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The solution involved designing the existing ACK based network protocol and redesign the network protocol to reduce the number of handshakes with a sliding window based and larger payload based protocol to speed network transmission speeds</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Solution involved Network Protocol simulation studies, and develop alternate fault tolerant schemes.</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Develop new Windows Communication Driver for the solution</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Data Center based software to collect the equipment data spread over multiple transformers over a geographical area</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Web based data visualization software</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> End-to-end ownership from specification to manufacturing</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> 32 bit Microcontroller based Hardware Development</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Realtime OS based C+ Firmware code</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Warehouse Automation</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> There was a warehouse automation start-up client in the US who wanted some of the subsystems be developed independently.</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Do staff augmentation to speed up development in other areas</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> We had 3 teams(a total of 12 people) working on development of many subsystems independently</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Windows Presentation Foundation(WPF) based custom touchscreen Uis for operator interfaces and interface with middleware</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Datawarehouse management systems for data analytics</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> SSRS based reports for data visualization</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Python based interactive data visualizations </li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Simulation of warehouse subsystems for quick software development </li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Realtime (ASP.net and SignalR) web based monitoring UIs</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> 3D pallet building visualizations</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> We had another team(3 people) working along with the client team for the development of:</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Windows Communication Based(WCF) middleware</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Storage algorithms</li>
                    </ul>
                    <h6>Duration:  2.5 years</h6>
                    <h6>Mode of working : Independent and staff augmentation along with the members of the start-up company ( RDC model)</h6>
                </div>
            </div>

            <div class="col-lg-12 mb-5" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block col-lg-12 p-5 shadow h-100 bg-white">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">Condition Monitoring of Wind Turbines</h4>
                        <h5 class="font-oswald pb-3">Context and Requirement</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Monitor critical  equipment/infra components and alert the operations team of any abnormal events</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Graphically program the event detection algorithms and download independent of firmware</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Visualize the real-time parameters of a given equipment/infrastructure</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Solution</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The system consisted of a graphical editor that can be used to model various conditions that need to be detected in a Wind Turbine in real-time. The IDE uses drag and drop constructs to model various conditions that can be downloaded to an embedded hardware running Linux on the Wind Turbine</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> The embedded hardware uses OPC/Modbus to collect the real-time wind turbine data and executes the event conditions continuously to detect if an adverse/anomalous condition is detected. It also connects to a central Windfarm server using MQTT for displaying the real time parameters on a web based user interface.</li>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> When an adverse condition is detected an alarm is raised and sent to the central Windfarm system for necessary action. The conditions can be modified based on the needs and can be downloaded remotely without needing to change the embedded code.</li>
                    </ul>
                    <ul class="list-unstyled">
                        <h5 class="font-oswald pb-3">Engre Tech Edge - Technology</h5>
                        <li class="pb-3"><i class="bi bi-caret-right-fill text-engretech"></i> Linux, IoT, MQTT/RabbitMQ, C++, SQLite, Linux, OPC/Modbus, C# and Winforms</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bg-dark py-5 text-center">
    <i class="bi bi-headset display-4 text-white mb-3 d-inline-block"></i>
    <h2 class="font-oswald text-white">Need Help with Easier Industrial Solutions? We Are the Experts!</h2>
    <a href="" class="btn bg-white rounded-pill text-dark mt-3 px-4">Learn More <i class="bi bi-arrow-up-right-square"></i></a>
</div>