<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/careers-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-2 mb-5 m-0" data-aos="zoom-in-down" data-aos-duration="1200">We love to see you <br/> Grow with Us</h1>
    </div> 
</div>

<div class="col-12 py-5 bg-white m-0">
    <div class="container">
        <h3 class="font-oswald mb-2">Our Careers</h3>

        <p>Engre Technologies offer you a wonderful opportunity to build your career in IT world. People who are sharp, energetic, enthuiastic with a keen sense of perception and with an inner urge to learn at every step of their life are welcome to join Engre Technologies and build their career and grow along with Engre Technologies.</p>

        <p>We provide an inspiring workplace in an ambience of pleasant and cheerfulness with unrestrained freedom to work and showcase their talents and capabilities.</p>

        <p>Come, Join us, Build your career with Engre Technologies. We have openings in the following domains.</p>

    </div>
</div>