
<footer class="col-12 m-0 py-5">
    <div class="container">
        <div class="row text-white pb-2 px-3">

            <div class="col-lg-3 m-0 col-6 col-md-3">
                <h4 class="font-oswald mb-3 border-secondary border-bottom d-inline-block pb-2">Company</h4>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a routerLink="/about" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> About Us</a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="careers" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Careers</a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/contact" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 m-0 col-6 col-md-3">
                <h4 class="font-oswald me-3 mb-3 border-secondary border-bottom d-inline-block pb-2">Services</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> CAD Modeling & Drafting</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Electromechanical</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Value Engineering</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Design Changes</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> PLM Support</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Tooling</a></li>
                    <li class="mb-2"><a routerLink="/services" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> NPD</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 m-0 col-6 col-md-3">
                <h4 class="font-oswald me-3 mb-3 border-secondary border-bottom d-inline-block pb-2">Industries</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a routerLink="/industries" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Consumer Durables</a></li>
                    <li class="mb-2"><a routerLink="/industries" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Testing Machines</a></li>
                    <li class="mb-2"><a routerLink="/industries" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Semiconductor</a></li>
                    <li class="mb-2"><a routerLink="/industries" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Automotive</a></li>
                    <li class="mb-2"><a routerLink="/industries" class="font-oswald text-white text-decoration-none text-uppercase"><i class="bi bi-chevron-right"></i> Medical</a></li>
                </ul>
            </div>

            <div class="col-lg-3 m-0 col-6 col-md-3">
                <h4 class="font-oswald me-3 mb-3 border-secondary border-bottom d-inline-block pb-2">Connect With Us :</h4>
                <a href="" class="text-white m-2 text-decoration-none small d-block"><i class="bi bi-facebook h4 me-2"></i> FACEBOOK</a>
                <a href="" class="text-white m-2 text-decoration-none small d-block"><i class="bi bi-twitter h4 me-2"></i> TWITTER</a>
                <a href="" class="text-white m-2 text-decoration-none small d-block"><i class="bi bi-linkedin h4 me-2"></i>LINKEDIN</a>
                <a href="" class="text-white m-2 text-decoration-none small d-block"><i class="bi bi-instagram h4 me-2"></i>INSTAGRAM</a>
            </div>
           
        </div>
    </div>
</footer>

<div class="bg-dark row m-0 p-3 justify-content-between">
    <p class="text-white mb-0 fw-lighter col-6 small">Copyright © 2022 Engre Technologies</p>
    <p class="text-white mb-0 fw-lighter col-6 text-end small">Powered by Engre Technologies</p>
</div>