<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/other-services.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-1 mb-5 m-0" data-aos="zoom-in-down" data-aos-duration="1200">Tools & Methodologies</h1>
        <i class="h1 text-white bi bi-arrow-down d-block text-center"></i>
    </div> 
</div>

<div class="bg-light p-5">
    <div class="container m-auto row">
        <div class="m-auto w-75 pb-5">
            <h4 class="font-oswald text-dark text-center">Engre Tech Has experience across a wide variety of engineering tools and the ability to adopt to our client’s tool chains, helping to create a more seamless communication pathway.</h4>
        </div>
        
        <div class="row mt-5 ms-auto">
            <div class="col-lg-3 mb-5 mb-lg-0" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block px-2 col-lg-10 py-5 shadow h-100 bg-white text-center align-items-center d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">CAD TOOLS</h4>
                        <li>Solid Works</li>
                        <li>Creo</li>
                        <li>Unigraphics</li>
                        <li>Auto CAD</li>
                        <li>CATIA</li>
                        <li>Solid Edge</li>
                        <li>Auto Desk Inventor</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block px-2 col-lg-10 py-5 shadow h-100 bg-white text-center align-items-center d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">PRODUCT DEVELOPMENT METHODOLOGIES</h4>
                        <li>Agile</li>
                        <li>V Cycle</li>
                        <li>Waterfall Method</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block px-2 col-lg-10 py-5 shadow h-100 bg-white text-center align-items-center d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">ERP SYSTEMS</h4>
                        <li>SAP</li>
                        <li>ORACLE</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0" data-aos="zoom-out-up" data-aos-duration="600">
                <div class="service_block px-2 col-lg-10 py-5 shadow h-100 bg-white text-center align-items-center d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <h4 class="font-oswald">PDM SYSTEMS</h4>
                        <li>Solid Works PDM</li>
                        <li>Windchill</li>
                        <li>Team Center</li>
                        <li>Enovia</li>
                        <li>Agile</li>
                    </ul>
                </div>
            </div>
        </div>






  

        

        

    </div>
</div>

<div class="bg-dark py-5 text-center">
    <i class="bi bi-headset display-4 text-white mb-3 d-inline-block"></i>
    <h2 class="font-oswald text-white">Need Help with Easier Industrial Solutions? We Are the Experts!</h2>
    <a href="" class="btn bg-white rounded-pill text-dark mt-3 px-4">Learn More <i class="bi bi-arrow-up-right-square"></i></a>
</div>