
<div class="row container-fluid header-bg pt-2 m-0 position-fixed">
    <div class="col-lg-6 col-6 pt-0 pt-sm-3 pt-lg-2">
        <div class="enegre-menu d-inline-block">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle pt-2 me-3">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal w-75"></div>
            <div class="spinner diagonal part-2"></div>
          </label>

          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li><a href="" class="fw-lighter"> Home</a></li>
              <li><a href="" routerLink="/about" class="fw-lighter">About Us</a></li>
              <li><a href="" class="fw-lighter">Industries</a></li>
              <li><a href="" class="fw-lighter">Services</a></li>
              <li><a href="" class="fw-lighter">Contact</a></li>
            </ul>
          </div>
        </div>
        <img src="./../../../assets/images/engretech-logo.png" class="engretech-logo col-8 col-sm-6 col-md-6 col-lg-3" alt="">
    </div>
    <div class="col-lg-6 col-6 pt-2 pt-sm-3 text-end px-0 px-sm-3">
        <ul class="list-unstyled d-sm-block">
            <li class="d-inline-block p-0 p-sm-2 me-1"><a href="#" class="px-1 py-0 px-sm-2  py-sm-1 rounded-pill border bg-white border-secondary text-dark text-decoration-none shadow-sm"><i class="bi bi-briefcase-fill d-none d-sm-inline"></i> CAREERS</a></li>
            <li class="d-inline-block p-0 p-sm-2"><a href="#" class="px-1 py-0 px-sm-2 py-sm-1 rounded-pill border bg-white border-secondary text-dark text-decoration-none shadow-sm"><i class="bi bi-telephone-fill d-none d-sm-inline"></i> CONTACT</a></li>
        </ul>
    </div>
</div>
 



