

<div class="banner-section">
    <div class="banner-video position-absolute top-0">
        <video width="100%" autoplay loop muted class="mt-5 mt-md-0 pt-3 pt-md-0">
            <source src="../../../assets/videos/services-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner-text">
        <h1 class="text-white col-lg-8 text-center font-oswald display-5 mb-5 m-0">SERVICES WE PROVIDE</h1>
    </div> 
</div> 

<div class="container shadow p-3 rounded mb-5 bg-light">

    <div class="row mt-5">
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img1.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Electromechanical Product Design, concept to manufacturing</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img2.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Support Design Changes, Value Engineering and New product Development</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img3.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Machinery and Equipment Installation, Field trouble shooting and upgrades</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img4.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Prototyping and Manufacturing Support</h3>
            </div>
        </div>
    </div>

    <div class="row my-5"> 
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img5.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Reverse Engineering & Prototyping</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img6.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">CAD Modeling & Drafting</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 text-center h-100">
                <img src="../../../assets/images/services-img7.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald">Technical Documentation</h3>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col bg-white p-4 border shadow-sm m-2 h-100">
                <img src="../../../assets/images/services-img8.jpg" alt="Services Image" class="img-fluid mb-3" />
                <h3 class="font-oswald text-center">PLM support</h3>
            </div>
        </div>
    </div>
    
</div>




<div class="bg-dark py-5 text-center">
    <i class="bi bi-headset display-4 text-white mb-3 d-inline-block"></i>
    <h2 class="font-oswald text-white">Need Help with Easier Industrial Solutions? We Are the Experts!</h2>
    <a href="" class="btn bg-white rounded-pill text-dark mt-3 px-4">Learn More <i class="bi bi-arrow-up-right-square"></i></a>
</div>

